version: "3.8"

services:
  prometheus:
    image: prom/prometheus
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
    - ./infra/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    - ./infra/prometheus/rules:/etc/prometheus/rules
    restart: unless-stopped

  grafana:
    image: grafana/grafana
    container_name: grafana
    ports:
      - "3000:3000"
    depends_on:
      - prometheus
    restart: unless-stopped
