global:
  scrape_interval: 5s
  evaluation_interval: 5s

rule_files:
  - "rules/*.yml"

scrape_configs:
  - job_name: "external-api-monitor"
    metrics_path: "/actuator/prometheus"
    static_configs:
      - targets:
          - host.docker.internal:8080
